node_modules/
.next/
out/
dist/
build/
coverage/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log

.DS_Store
.idea/
.vscode/
.venv/

.gitignore


create_instance.py

alyt9951@gmail.com-2026-04-19T19_27_40.727Z.pem
alyt9951@gmail.com-2026-04-19T19_29_02.557Z_public.pem
private_key.pem
ssh-key-2026-04-19.key
ssh-key-2026-04-19.key.pub